<!DOCTYPE html>
<html>
    <head>
        <title>Chromebit Alarm :: Popup Menu</title>
        <script type="text/javascript" src="../vendor/jquery.min.js"></script>
        <script type="text/javascript" src="../vendor/moment.js"></script>
        
        <script type="text/javascript" src="../js/popup.js"></script>
    </head>
    <body>
      <div class="popup-wrap">
        <div class="heading">
          <h3>Devices</h3>
        </div>
        
        <div class="device-list"></div>
      </div>
    </body>
</html>
